header{
    nav{
        background-color: nth($colores,6);
        text-decoration: none;
        font-family: 'Ysabeau Infant', sans-serif;
        font-size: nth($font-size,7);
        font-weight: 500;
        div{
            a{
                img{
                    width: 130px;
                    height: 130px;
                }
            }
            div{
                ul{
                    li{
                        .color-texto-uno{
                            color: nth($colores,1);
                            transition: 1s;
                            &:hover{
                            transform: scale(1.1);
                            }
                        }
                        .fondo{
                            background-color: nth($colores,6);
                            transition: 1s;
                            .color-texto{
                                &:hover{
                                    background-color: nth($colores,2);
                                    font-weight: 700;
                                }
                                
                            }
                        }
                        
                    }
                }
                form{
                    .fdo-bot{
                        background-color: nth($colores,2);
                        transition: 1s;
                        &:hover{
                            background-color: nth($colores,1);
                            font-weight: 700;
                            color: nth($colores,2);
                        }
                    }
                }
            }
        }
    }
}
