.hero{
    background-image: url(../img/fondo.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: nth($colores,3);
    text-align: center;
    @extend %flex;
    flex-direction: column;
    h2{
        font-family: 'Raleway', sans-serif;
        font-size: nth($font-size,2);
        border: nth($colores,4);
        display: inline-block;
        padding: 30px;
        span{
            color: nth($colores,5);
        }
    }
    p{
        font-size: nth($font-size,6);
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 300;
        font-style: italic;
        color: nth($colores,1);
    }
}

.bienvenidos{
    @extend %flex;
    text-align: center;
    background-color: nth($colores,6);
    div{
        width: 100%;
        h2{
            font-family: 'Ysabeau Infant', sans-serif;
            color: nth($colores,1);
            font-size: nth($font-size,3);
        }
    }
    div{
        img{
            width: 300px;
            height: 200px;
        }
        img{
            width: 300px;
            height: 200px;
        }
    }
}

.online{
    h2{
        text-align: center;
        font-family: 'Ysabeau Infant', sans-serif;
        color: nth($colores,7);
        font-size: nth($font-size,4);
        background-color: nth($colores,1);
        margin-bottom: 0px;
    }
    div{
        @include flex (flex, space-evenly, center);
        background-color: nth($colores,6);
        margin-bottom: 0px;
        margin-top: 0px;
        h3{
            font-family: 'Ysabeau Infant', sans-serif;
            font-size: nth($font-size,3);
            color: nth($colores,5);
            margin: 15px;
        }
        iframe{
            box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
            -webkit-box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
            -moz-box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.productos{
    h2{
        text-align: center;
        font-family: 'Ysabeau Infant', sans-serif;
        color: nth($colores,7);
        background-color:nth($colores,4);
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px;
        text-transform: uppercase;
        font-style: inherit;
    }
    > div{
        background-color: nth($colores,6);
        object-fit: cover;
        gap: 15px;
        @extend %flex;
        div{
            border: 1px solid nth($colores,8);
            width: 200px;
            height: 230px;
            text-align: center;
            background-color: nth($colores,1);
            color: nth($colores,9);
            margin: 5px;
            box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
            -webkit-box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
            -moz-box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
            position: relative;
            
            h3{
                margin-bottom: 15px;
                margin-top: 15px;
                font-size: nth($font-size,7);
            }
            img{
                width: 150px;
                height: 100px;
            }
            a{
                text-decoration: none;
                color: nth($colores,9);
                background-color: nth($colores,4);
                font-size: nth($font-size,9);
                font-style: italic;
                font-weight: bolder;
                position: relative;
                &:hover{
                    background-color: nth($colores,2);
                    color: nth($colores,1);
                    
                }
            }
        }
    }
}

.fixed{
    position: fixed;
    bottom: 70px;
    right: 20px;
    color: nth($colores,5);
    font-size: nth($font-size,8);
}

/*---PÁGINA IDEAS---*/

.materias{
    background-color: nth($colores,1);
    width: 100%;
    height: 100%;
    h2{
        text-align: center;
        font-family: 'Ysabeau Infant', sans-serif;
        color: nth($colores,7);
        font-size: nth($font-size,4);
    }
    p{
        font-size: nth($font-size,6);
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 300;
        font-style: italic;
        color: nth($colores,5);
        text-align: center;
        margin-bottom: 0%;
    }
}

.container-fluid{
    background-color: nth($colores,6);
    .row{
        div{
            h3{
                font-size: nth($font-size,6);
                font-family: 'Ysabeau Infant', sans-serif;
            }
            a{
                img{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

/*--PÁGINA AFTERWORK--*/

.actividades{
    background-color: nth($colores,6);
    font-family: 'Ysabeau Infant', sans-serif;
    h2{
        text-align: center;
        background-color: nth($colores,1);
        color: nth($colores,5);
        padding: 10px;
        font-style: italic;
        font-size: nth($font-size,8);
    }
    p{
        font-size: nth($font-size,7);
        text-align: center;
        margin: 0%;
    }
    .en-casa{
        h3{
            text-align: center;
            text-align: center;
            background-color:nth($colores,4);
            color: nth($colores,7);
            padding: 10px;
            font-style: italic;
            font-size: nth($font-size,5);
            margin-top: 0px;
        }
        .aplico-grids{
            width: 100%;
            width: 100%;
            font-size: nth($font-size,7);
            color: nth($colores,10);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 250px;
            object-fit: cover;
            gap: 15px;
            .item{
                position: relative;
                h4{
                    font-size: nth($font-size,7);
                    position: absolute;
                    bottom: 0;
                    background-color: nth($colores,11);
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
                    -webkit-box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
                    -moz-box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
                }
            }
        }
    }
    .grids-dos{
        h3{
            text-align: center;
            text-align: center;
            background-color:nth($colores,4);
            color: nth($colores,7);
            padding: 10px;
            font-style: italic;
            font-size: nth($font-size,5);
            margin-top: 0px;
        }
        div{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 200px;
            iframe{
                max-width: 100%;
                max-height: 100%;
                box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
                -webkit-box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
                -moz-box-shadow: 28px 26px 65px 8px rgba(0,0,0,0.61);
                object-fit: cover;
                justify-items: center;
                align-items: center;
            }
        }
    }
    .montevideo{
        h3{
            text-align: center;
            text-align: center;
            background-color:nth($colores,4);
            color: nth($colores,7);
            padding: 10px;
            font-style: italic;
            font-size: nth($font-size,5);
            margin-top: 0px;
        }
        .montevideo-grids{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 200px;
            justify-items: center;
            align-items: center;
            img{
                width: 250px;
                height: 200px;
                position: relative;
            }
        }
    }
    .pubs{
        h3{
            text-align: center;
            text-align: center;
            background-color:nth($colores,4);
            color: nth($colores,7);
            padding: 10px;
            font-style: italic;
            font-size: nth($font-size,5);
            margin-top: 0px;
        }
        .vida-nocturna{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 200px;
            .boliche{
                padding: 10px;
                margin-bottom: 10px;
                h4{
                    font-size: nth($font-size,7);
                    position: absolute;
                    width: 100%;
                    color: nth($colores,7);
                    padding: 10px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}