@media screen and (max-width:1210px){
    .bienvenidos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:900px){
    .online div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .online h3{
        font-size: nth($font-size,6);
    }
    .productos > div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        justify-items: center;
        align-items: center;
    }
    .actividades h2{
        font-size: nth($font-size,5);
    }
    .actividades .en-casa h3{
        font-size: nth($font-size,6)
    }
    .actividades .grid-dos h3{
        font-size: nth($font-size,6);
    }
    .actividades .montevideo h3{
        font-size: nth($font-size,6);
    }
    .actividades .pubs h3{
        font-size: nth($font-size,6);
    }
}

@media screen and (max-width:730px){
    .bienvenidos{
        flex-direction: column;
    }
    .bienvenidos div h2{
        font-size: nth($font-size,5);
    }
    .fixed{
        display: none;
    }
    .actividades .en-casa .aplico-grids{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 250px;
    }
    .actividades .pubs .vida-nocturna{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width:720px){
    header{
        flex-direction: column;
        position: static;
    }
    .hero h2{
        font-size: nth($font-size,8);
    }
    .hero p{
        font-size: nth($font-size,7);
    }
    .online div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .actividades .montevideo .montevideo-grids a img{
        width: 200px;
        height: 100px;
    }
}

@media screen and (max-width:600px){
    .bienvenidos div h2{
        font-size: nth($font-size,7);
    }
    .online h2{
        font-size: ($font-size,5);
        }
    .productos h2{
        font-size: 2($font-size,7);
        }
    .actividades .montevideo .montevideo-grids{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
    }
}


@media screen and (max-width:500px){
    header{
        flex-direction: row;
    }
    header nav div div ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header nav div div ul li{
        margin: 5px;
    }
    .hero h2{
        padding: 10px;
    }
    
    .bienvenidos div p{
        font-size: 1nth($font-size,10);
    }
    .bienvenidos div img{
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
    }
    .productos div div{
        width: 150px;
        height: 180px;
    }
    .productos div div img{
        width: 100px;
        height: 90px;
    }
}

@media screen and (max-width:380px){
    header nav div .h1{
        font-size: ($font-size,5);
    }
}