/*-Listas-*/
$colores:
#4B2E39,
antiquewhite,
#948AA8,
#A28497,
#7B8745,
#c0bfaa,
#F1E9DA,
violet,
#96BC8A,
#ece2e8,
rgba(0, 0, 0, 0.397);

$font-size:
70px,
60px,
50px,
45px,
30px,
25px,
20px,
40px,
18px,
15px;

/*--Extend--*/
%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--MIXIN--*/
@mixin flex ($flex, $justify, $aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}
